{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<table>
    <thead>
        <tr>
            <th>Stock</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for tx in transactions %}
        <tr>
            <td>{{ tx.symbol }}</td>
            <td>{{ tx.shares }}</td>
            <td>{{ tx.price | usd }}</td>
            <td>{{ tx.purchase_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
