{% extends "layout.html" %} {% block title %} Home Page {% endblock %} {% block header %}
<h1>Portfolio Optimization App</h1>
<hr />
{% endblock %}
{% block main %}
  <p>Create a new strategy:</p>
  <form id="create-strategy" method="POST" action="/api/create-strategy">
    <input
      type="text"
      autocomplete="off"
      autofocus
      name="name"
      placeholder="Strategy Name"
      required
    />
    <input
      type="text"
      autocomplete="off"
      name="cash"
      placeholder="Cash Amount"
      required
    />
    <button type="submit">Create Strategy</button>
  </form>
  <hr>

  <p></p>
  <p>Select an existing strategy:</p>
  <select id="select-strategy">
    {% for strategy in strategies %}
    <option value="{{ strategy.id }}">{{ strategy.name }}</option>
    {% endfor %}
  </select>  

  <p></p>
  <!-- Display portfolio -->
  <div id="portfolio"></div>
  <hr>

  <!-- Edit strategies button -->
  <button id="edit-strategy" type="button">Edit Strategies</button>
  <p></p>
  <div id="edit-list"></div>
</main>
{% endblock %}