{% extends "layout.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block main %}
    <h1>Portfolio Summary
        <p> Cash Balance: {{ cash | usd }} </p>
        <p> Grand Total: {{ grand_total | usd }} </p>
    </h1>
    <form action="/" method="POST">
        <input type="text" name="strategy" placeholder="Strategy" required>
        <input type="submit" value="Set Strategy">
    </form>
    <table>
        <thead>
            <h2>Your Portfolio</h2>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in portfolio %}
            <tr>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.shares }}</td>
                <td>{{ stock.price | usd }}</td>
                <td>{{ stock.total | usd }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
