{% extends "layout.html" %} {% block title %} Home Page {% endblock %} {% block
main %} Create a new strategy:

<form id="create-strategy" method="POST" action="/api/create-strategy">
  <input
    type="text"
    autocomplete="off"
    autofocus
    name="name"
    placeholder="Strategy Name"
    required
  />
  <input
    type="text"
    autocomplete="off"
    name="cash"
    placeholder="Cash Amount"
    required
  />
  <button type="submit">Create Strategy</button>
</form>

<div id="content-placeholder"></div>
{% endblock %}